.App{
  min-height: 100vh;
  background-color: black;
  top:0;
  z-index: 1;
  position: relative;
}

.align-particles{
  z-index: -1;
  position: absolute;
}

*{
  margin: 0px;
}

.lg-device{
  @media screen and (max-width:771px){
    display: none;
}
}